@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.quick-action-btn {
  @apply w-full flex items-center gap-3 px-4 py-3
         border border-gray-200 rounded-md
         text-sm font-medium text-gray-700
         hover:bg-gray-50 hover:border-gray-300
         active:scale-[0.98]
         transition-all duration-200;
}
